* { box-sizing: border-box; }
html, body { 
	height: 100%; 
}
body{
	background:url('../images/background.jpg') repeat repeat ;
	background-size: cover;
	font-family: 'robotolight';
}
// Сбрасываем списки
ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.wrapper{
	display:table;
	margin:0 auto;
	position:relative;
	min-height:100%;
	height:auto!important;
	overflow:hidden;
	min-width: 960px;
}
.container {
	width: 960px;
	margin: 0 auto;
	display:table-cell;
	vertical-align:middle;
	@include clearfix();
}

// Прибиваем футер к низу
.empty{
	display:table-row;
	height:40px;
	width:100%;
}
.footer{
	height:40px;
	line-height:40px;
	margin-top: -40px;	
	min-width: 960px;
}

#popupwin {
	display: none;
	width: 300px;
	height: 100px;
	background-color: white;
	border-radius: 5px;
	padding: 0 10px;

	.close {
		text-align: right;
		color: red;
		cursor: pointer;
	}
}

.loaded__watermark,
.watermark__box-img,
.loaded__watermark-tilingblock {
  cursor: move;
}

.canvas-content__header,
.canvas-sidebar__header,
.settings-title-input,
.settings-title {
	white-space: nowrap;
}

.opacity_text,
.position_text {
	width:220px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.position_text {
	width:160px;
}