.canvas-content
    h1.canvas-content__header.lang(data-key="canvascontentheader") ###
    .canvas-content__wrapper
        .canvas__image
            img.loaded__image(src="")
        .canvas__watermark
            img.loaded__watermark(src="")
