.canvas-content
    h1.canvas-content__header.lang(data-key="canvascontentheader") ###
    .canvas-content__wrapper
        .canvas__image
            img.loaded__image(src="")
        .canvas__watermark
            img.loaded__watermark(src="")
    .canvas-content__tiling
        .canvas__image-tiling
            img.loaded__image-tiling(src="")
        .canvas__watermark-tiling
            img.loaded__watermark-tiling(src="")
            .loaded__watermark-tilingblock
