//- Language
.language
	ul.language__list
		li.language__item
			a(href="#").language__link.language__link-rus РУС
		li.language__item
			a(href="#").language__link.language__link-eng ENG
//- Social button
.social-button
	ul.social-button__list
		li.social-button__item
			a(href="#").social-button__link.social-button__link_fb Facebook
		li.social-button__item
			a(href="#").social-button__link.social-button__link_tw Twitter
		li.social-button__item
			a(href="#").social-button__link.social-button__link_vk Вконтакте